<div id="stars" style="animation: animateStars 90s linear infinite;"></div>
<div id="stars2" style="animation: animateStars2 110s linear infinite;"></div>
<div id="stars3" style="animation: animateStars3 150s linear infinite;"></div>
