<div id="stars" style="animation: animateStars 500s linear infinite;"></div>
<div id="stars2" style="animation: animateStars2 650s linear infinite;"></div>
<div id="stars3" style="animation: animateStars3 700s linear infinite;"></div>
