<nav>
  <h3 style="bottom: 0; margin: 0;">
    <% if(currentUser) { %>
        Welcome back, <%=currentUser.username%>!
    <% } else { %>
        Welcome!
    <% } %>
</h3>
  <ul>
    <% if (currentUser.username == 'colleen') { %>
        <li><a href="/astro/admin">users</a></li>
    <% } %>

    <li><a href="/astro/events">events</a></li>

    <li><a href="/astro/forums">forums</a></li>

    <li><a href="#">messages</a></li>

    <li><a href="#">favorites</a></li>

    <li><a href="/astro/users/<%=currentUser._id%>">profile</a></li>

      <li>
        <form action="/astro/sessions?_method=DELETE" method="POST" style="border: none;">
          <input type="submit" value="Logout" style="border: none; box-shadow: none;"/>
        </form>
      </li>
  </ul>
</nav>
