<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../../partials/head.ejs %>
</head>

<body>
  <% include ../../partials/background.ejs %>
  <% include ../../partials/header.ejs %>
  <% include ../../partials/nav.ejs %>
  <div class="forums">


    <div class="forum-container">
      <div class="forum-links">
        <span><a href="/astro/forums">Main</a> > <a href="/astro/forums/welcome">Welcome</a></span>
        <a href="/astro/forums/new">SUBMIT NEW POST</a>
      </div>

      <table>
        <tr>
          <th>Topic</th>
          <th>Replies</th>
          <th>Posted</th>
        </tr>
        <% for(let i = 0; i < posts.length; i++){ %>
      			<tr>
              <td>
                <a href="/astro/forums/<%=posts[i]._id%>"><%=posts[i].title%></a>
              </td>
              <td><%=posts[i].comments.length%></td>
              <td><%=moment(posts[i].date).utc().format('MM-DD-YYYY h:mm a')%></td>
            </tr>
      		<% } %>

      </table>
    </div>
  </div>

</body>

</html>
