<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/background.ejs %>
  <% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
  <div class="forums">


    <div class="forum-container">
        <div class="event-links">
          <a href="#">SUBMIT NEW EVENT</a>
        </div>

      <table>
        <tr>
          <th>Event</th>
          <th>Date</th>
          <th>Location</th>
        </tr>

        <tr>
          <td><a href="#">GA Data Science Workshop</a></td>
          <td>July 11th, 2018 <br /> 6:30pm - 8:30pm</td>
          <td>New York, NY</td>
        </tr>

        <tr>
          <td><a href="#">Astronomy on Tap: Forgotten Female Astronomers</a></td>
          <td>July 29th, 2018</td>
          <td>Boulder, CO</td>
        </tr>

        <tr>
          <td><a href="#">MeetUp: Python for Data Analysis</a></td>
          <td>August 18th, 2018</td>
          <td>Brooklyn, NY</td>
        </tr>

        <tr class="bottom-tr">
          <td><a href="#">AAS Meeting: Committee of Women and Minorities</a></td>
          <td>January 4th-9th, 2019</td>
          <td>Washington, DC</td>
        </tr>

    </div>
  </div>

</body>

</html>
