<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/background.ejs %>
  <% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
  <div class="forums">


    <div class="forum-container">
      <!-- <h3>forum</h3> -->
      <table>
        <tr>
          <th>topic</th>
          <th>posts</th>
          <th>last post</th>
        </tr>
        <tr>
          <td><a href="#">Welcome</a><br /> <span style="font-size: 12px;">introduce yourself!</span></td>
          <td>1</td>
          <td>today</td>
        </tr>
        <tr>
          <td>Water Cooler<br /> <span style="font-size: 12px;">general</span></td>
          <td>1</td>
          <td>today</td>
        </tr>
        <tr>
          <td>Water Cooler<br /> <span style="font-size: 12px;">anything else</span></td>
          <td>1</td>
          <td>today</td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>
