<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/background_moving.ejs %>
    <h1>Women of stem: astronomy</h1>
    <h2>spread the word.</h2>

    <div class="button-container">
      <button type="button" name="login">log in</button>
      <button type="button" name="join">join us</button>
    </div>
    
</body>

</html>
