<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/background_moving.ejs %>
  <% include ../partials/header.ejs %>
  <main>


    <div class="forum-container">
      <h3>Thanks for joining! Your answers will be reviewed and we'll get back to you asap.</h3>

      <h3>Please keep an eye on your inbox for a confirmation email!</h3>
    </div>
  </main>

</body>

</html>
