body {
  font-family: 'Poppins', sans-serif;
  text-align: center;

}
h1, h2 {
  /* color: #E5E5E5; */
  margin: 0 auto;
  background: -webkit-linear-gradient(#E5E5E5, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 6em;
  font-family: 'Sacramento', cursive;
  margin-top: 10%;
}
h2 {
  font-size: 3em;
  font-weight: 200;
}
button {
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 200;
  background: -webkit-linear-gradient(#E5E5E5, #38495a);
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  width: 180px;
  height: 60px;
  box-shadow: 0 0 10px #E5E5E5;
}
button:hover {
  font-weight: 400;
  color: #17303F;
  background: #E5E5E5;
}
.button-container {
  margin-top: 50px;
  display: inline-flex;
  justify-content: space-around;
  width: 60%
}
