body {
  font-family: 'Poppins', sans-serif;
  color: #E5E5E5;
  text-align: center;
  font-weight: 100;
  /* height: 100%; */
  /* overflow: hidden; */
}
main {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  overflow: auto;
}
h1, h2 {
  /* color: #E5E5E5; */
  margin: 0 auto;
  background: -webkit-linear-gradient(#E5E5E5, #BBBDBF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 3.5em;
  font-family: 'Sacramento', cursive;
}
h2 {
  font-size: 2.5em;
  font-weight: 200;
  margin-bottom: 3%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #E3B505;
}
button, input[type="submit"] {
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #BBBDBF;
  border: 1px solid #BBBDBF;
  border-radius: 10px;
  width: 180px;
  height: 60px;
  box-shadow: 0 0 10px #BBBDBF;
  margin: 2%;
  cursor: pointer;
}
button:hover, input[type="submit"]:hover {
  /* font-weight: 400; */
  color: #17303F;
  background: #BBBDBF;
}

input[type="submit"] {
  width: auto;
  padding: 1%;
  font-size: 1.5em;
  margin: 4% auto;
}
.button-container {
  margin-top: 50px;
  display: inline-flex;
  justify-content: space-around;
  width: 60%;
  height: auto;
}
@media (max-width: 700px) {
  body {
    overflow: auto;
  }
  h1 {
    /* font-size: 3em; */
    margin: 1% auto;
    line-height: 1;
    overflow: visible;
    padding-bottom: 5%;
  }
  h2 {
    /* font-size: 2em; */
  }
  .button-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  button {
    margin: 10px auto;
    /* font-size: 1em; */
    /* width: 100px;
    height: 40px; */
  }
}
.index {
  width: 100%;
  height: 100%;
    /* position: fixed; */
  margin: 0 auto;
  margin-top: 10%;
  overflow: auto;
}
.index h1 {
  font-size: 6em;
}
.index h2 {
  font-size: 3em;
}
.field-container {
  display: inline-flex;
  justify-content: space-around;
  /* align-items: center; */
  margin: 3%;
  width: 90%;
}
.text-container {
  width: 50%;
  font-size: 1.1em;
  /* position: sticky; */
  /* margin-top: 5%; */
  /* text-align: justify; */
}
.text-container p {
  margin: 5% auto;
}
.form-container {
  width: 40%;
}
form {
  border: 1px solid #444546;
  border-radius: 10px;
  /* text-align: left; */
  padding: 0 20px;
  /* padding-left: 15%; */
  /* margin: 20px 0; */
}
label {
  font-weight: 200;
  display: block;
  margin-top: 7%;
  padding: 1%;
  width: 100%;
  text-align: left;
}
input {
  /* padding: 1%; */
  background: transparent;
  border: none;
  border-bottom: 1px solid #77797A;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #E5E5E5;
  font-weight: 100;
  line-height: 1.5em;
  font-size: 1em;
  /* margin-left: 15%; */
}
input:focus, select:focus, textarea:focus {
  outline: none;
  border-bottom: 1px solid #E3B505;
}
button:focus, input[type="submit"]:focus {
  outline: 0;
  border-bottom: none;
}

textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #77797A;
  font-family: 'Poppins', sans-serif;
  color: #E5E5E5;
  font-weight: 100;
  line-height: 1em;
  font-size: 1em;
  resize: none;
  width: 100%;
  height: auto;
  padding-top: 10px;
}

select  {
  background: transparent;
  border: 1px solid #77797A;
  font-family: 'Poppins', sans-serif;
  color: #E5E5E5;
  font-weight: 100;
  line-height: 1.5em;
  font-size: 1em;
}
ul {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  /* width: 100%; */
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
li {
  margin: 0 2%;
  padding: 0;
  /* bottom:  */
  list-style-type: none;
}
nav {
  width: 80%;
  display: inline-flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid #444546;
  border-radius: 5px; */
}
nav input[type=submit] {
  height: 35px;
  width: 82px;
  padding: 0;
  margin: 0;
  /* overflow: visible; */
}
nav form {
  padding-left: 0;
  padding-top: 20px;
}
.forums {
  display: flex;
  justify-content: center;
}
.forum-container {
  width: 80%;
  /* border: 1px solid #444546; */
  border-radius: 10px;
  margin: 10px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  width: 100%;
  border-bottom: 1px solid #444546;

  /* box-sizing: border-box; */
}
th, td {
  border-bottom: 1px solid #444546;
  padding: 2%;
  /* border-collapse: collapse; */
}
th {
  height: auto;
  padding: 0;
  margin-left: 20px;
  width: auto;
}
.profile-container {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 300px;

}
.profile-container table {
  margin: 0 auto;
}
.profile-container td {
  border-bottom: none;
  margin: 10% auto;
  /* width: auto; */
  /* text-align: left; */
}
.small-column {
  width: 150px;
  text-align: right;
  padding: 0;

}
.profile-title {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
}
.profile-title a {
  font-size: 12px;
  margin-left: 10px;
}
.profile-title h3 {
  /* margin-left: 50px; */

}
.bottom-tr {
  border-bottom: none;
}
.forum-links {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid #77797A;
  padding: 10px 0;
}
.forum-links a {
  padding: 0 10px;
}
.event-links {
  width: 100%;
  display:inline-flex;
  justify-content: flex-end;
  margin: 10px 0;
}
#delete:hover {
  color: #F45B69;
}
#delete{
  box-shadow: 0 0 10px #F45B69;
  border-color: #F45B69;
}
.post-container{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  margin-bottom: 300px;
  border: 1px solid #444546;
}
.post-container textarea {
  border: 1px solid #444546;
  border-radius: 5px;
  height: 100px;
  overflow: auto;
  margin-left: 10px;
}
.inline-container {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 10px;
}
.inline-container label {
  margin: 0;
  width: auto;
  margin-right: 10px;
}
.borderedpost-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 300px;
  border: 1px solid #444546;
}
